.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
}

.card {
    border: 3px solid #088c86;
    padding: 1em;
    align-items: center;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    margin: 1em;
}

.information {
    display: flex;
    flex-direction: row;
}

.title {
    // border: 2px solid #10b3ac;
    background-color: #088c86;
    width: 10em;
    align-items: center;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
    color: white;
    margin-bottom: 1em;
}

.retour {
    background-color: #088c86;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    font-size: 20px;
}

.retour:hover {
    background-color: #10b3ac;
    cursor: pointer;
}
  
  